@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, suscipit quia tempore ipsum facilis eius ut. Corrupti saepe impedit sunt minus aliquid accusantium est reprehenderit, distinctio eligendi commodi! In corrupti, consequatur doloribus fugiat tempora nemo rerum aut! Eius qui quibusdam commodi ad odio. Omnis voluptas nemo deleniti. Perspiciatis adipisci id iusto quos vitae blanditiis, perferendis ab, explicabo illum quaerat omnis.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, suscipit quia tempore ipsum facilis eius ut. Corrupti saepe impedit sunt minus aliquid accusantium est reprehenderit, distinctio eligendi commodi! In corrupti, consequatur doloribus fugiat tempora nemo rerum aut! Eius qui quibusdam commodi ad odio. Omnis voluptas nemo deleniti. Perspiciatis adipisci id iusto quos vitae blanditiis, perferendis ab, explicabo illum quaerat omnis.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, suscipit quia tempore ipsum facilis eius ut. Corrupti saepe impedit sunt minus aliquid accusantium est reprehenderit, distinctio eligendi commodi! In corrupti, consequatur doloribus fugiat tempora nemo rerum aut! Eius qui quibusdam commodi ad odio. Omnis voluptas nemo deleniti. Perspiciatis adipisci id iusto quos vitae blanditiis, perferendis ab, explicabo illum quaerat omnis.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae expedita! Ratione autem esse ab ullam quod. Necessitatibus consequuntur iusto laudantium reiciendis sapiente, a commodi corrupti aliquid tenetur, deleniti tempore quaerat harum doloremque nam cumque! Culpa perferendis tempora molestias tempore quidem atque facilis mollitia quae asperiores adipisci exercitationem facere iure, fugiat ipsum consequatur incidunt perspiciatis, odio repudiandae quasi beatae officia!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae expedita! Ratione autem esse ab ullam quod. Necessitatibus consequuntur iusto laudantium reiciendis sapiente, a commodi corrupti aliquid tenetur, deleniti tempore quaerat harum doloremque nam cumque! Culpa perferendis tempora molestias tempore quidem atque facilis mollitia quae asperiores adipisci exercitationem facere iure, fugiat ipsum consequatur incidunt perspiciatis, odio repudiandae quasi beatae officia!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae expedita! Ratione autem esse ab ullam quod. Necessitatibus consequuntur iusto laudantium reiciendis sapiente, a commodi corrupti aliquid tenetur, deleniti tempore quaerat harum doloremque nam cumque! Culpa perferendis tempora molestias tempore quidem atque facilis mollitia quae asperiores adipisci exercitationem facere iure, fugiat ipsum consequatur incidunt perspiciatis, odio repudiandae quasi beatae officia!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>