    
@model List<MobilyaShowRoom.Models.Products>
@using MobilyaShowRoom.Models

@{
    Layout = "_Layout";
}



<div class="container">
    <div class="row">
        @{


            foreach (var product in Model)
            {

                <div class="col-6">
                    <div class=" mx-auto shadow-lg mt-4">
                        <div class="card text-center">
                            <div class="card-header">
                                @product.ID
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <p class="card-text">@product.ProductDetail</p>
                                <p class="card-text fw-bold" style="color:blue">Fiyat=@product.Price</p>
                                <div class="d-flex justify-content-center align-items-center gap-3">
                                    <a href="@Url.ActionLink("index","Home")" class="btn btn-primary">Home</a>
                                    <a href="product/getproductdetail/@product.ID" class="btn btn-primary">Detail</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>